<div class="mx-auto px-0 py-4">
    {{#if msg}}
    <div class="my-2 alert alert-{{color}} text-center" role="alert">{{msg}}</div>
    {{/if}}
    <div class="card card-form">
        {{#if isSendEmail}}
            <div class="card-header text-center py-auto reset-item">
                <p class="py-3"><b>Reset Password</b></p>
                <span class="noti-reset">We've sent you a verification code. When you receive the code, enter it in the box below to continue to 
                    the process of resetting your password.
                </span>
            </div>
            <div class="card-body">
                <form method="POST" action="/new-password">
                    <div class="form-group">
                        <label for="otp">Authentication Code (OTP)</label>
                        <input type="text" class="form-control" id="authen-code" name="otp">
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <input type="password" class="form-control" id="new-password" name="new_password">
                    </div>
                    <input type="hidden" name="email" value={{email}}>
                    <div class="form-check px-0">
                        <button type="submit" class="btn btn-dark text-center w-100">Reset Password</button>
                    </div>
                </form>
            </div>
        {{else}}
            <div class="card-header text-center py-auto reset-item">
                <p class="py-3"><b>Enter your email</b></p> </div>
            <div class="card-body">
                <form method="GET" action="/new-password">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-check px-0">
                        <button type="submit" class="btn btn-dark text-center w-100">Send OTP</button>
                    </div>
                </form>
            </div>
        {{/if}}
    </div>
</div>