<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="min-height: 100vh; background-color: rgb(43, 134, 122);">
            <h3 class="mt-4 text-white">MANAGEMENT</h3>
            <hr style="border: 1px solid #fff">
            <a href="/management/accounts" class="btn btn-light w-100 mb-3">Account Management</a>
            <a href="/management/courses" class="btn text-white w-100 mb-3">Course Management</a>
        </div>
        <div class="col-10">
            
        </div>
    </div>
</div>