<div class="mx-auto px-0 py-4 mb-2">
    <div class="card card-form">
        <div class="card-body text-center py-auto">
            <p class="cart-title mb-0" style="font-size: 1.5rem">Update Infomation</p>
        </div>
        <div class="card-body pt-0">
            <form method="POST" action="update-info">
                <div class="form-group">
                    <label for="Fname">First Name</label>
                    <input type="text" class="form-control" id="Fname" name="Fname" value="{{user.first_name}}">
                </div>
                <div class="form-group">
                    <label for="Lname">Last Name</label>
                    <input type="text" class="form-control" id="Lname" name="Lname" value="{{user.last_name}}">
                </div>
                <div class="form-group">
                    <label for="phone-number">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{user.phone}}">
                </div>
                <div class="form-group">
                    <label for="dob">Day of birth</label>
                    <input type="date" class="form-control" id="dob" name="dob" value="{{user.DOB}}">
                </div>
                <div class="form-check px-0">
                    <button type="submit" class="btn btn-dark text-center w-100">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>